
.form {
  padding:15px;  
     margin-top: 20px;  
     border-radius: 1px;    
     background-color:rgba(189, 103, 18, 0.671); 
     color: rgb(248, 248, 245);
     height: 10%;
     margin-left:auto;
     margin-right:auto;
     width: 90%;
}

.form > h1 {
  margin-bottom: 30px;
  padding:20px;
  font-family: Copperplate, Papyrus, fantasy;
  background-color: rgba(9, 19, 11, 0.911);
  
}

.form > input,
textarea {
  width: 100%;    
  padding: 18px 22px;    
  margin: 3px 0;    
  display: inline-block;    
  border-radius: 0px;   
  color:rgb(2, 0, 0); 
  box-sizing: border-box;   
  height: 35px;
}

.form > textarea {
  height: 150px;
}

.form > label {
  color: #f2f0fa;
  font-weight: bold;
  font-family:serif;
}

.form > button {
  padding: 0px;
  height: 50px;
  border-radius: 40px;
  color: antiquewhite;
  width: 100px;
  margin-top: 10px;
  background-color:green;
  text-align:center;
}

.form > button:hover {
  background-color: rgb(194, 42, 15);
  border: none;
  
}